[user]
    email = todd.rasband@gmail.com
    name = rasbandit
{{ if eq .machineType "workstation" -}}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID/GwbMkX+Q+R3fowyympfs3bRrWNhmRFgEy7G4EkyV1

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"

[commit]
    gpgsign = true

{{ end -}}
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper = !/usr/bin/gh auth git-credential

{{ if eq .machineType "workstation" -}}
[url "git@github.com:"]
    insteadOf = https://github.com/
{{ else -}}
[url "https://github.com/"]
    insteadOf = git@github.com:
{{ end -}}


[init]
    defaultBranch = main

[core]
    editor = code --wait

[pull]
    rebase = true

[alias]
    st = status -s
    sta = status
    pr = pull --rebase
