{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2026-03-12T02:02:51.826Z"
  },
  "chrome-devtools-plugins": {
    "source": {
      "source": "github",
      "repo": "ChromeDevTools/chrome-devtools-mcp"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/chrome-devtools-plugins",
    "lastUpdated": "2026-02-25T00:51:20.032Z"
  }
}
