---
# 1Password installation for Fedora

- name: Import 1Password GPG key
  ansible.builtin.rpm_key:
    key: https://downloads.1password.com/linux/keys/1password.asc
    state: present
  become: true

- name: Add 1Password repository
  ansible.builtin.yum_repository:
    name: 1password
    description: 1Password Stable Channel
    baseurl: https://downloads.1password.com/linux/rpm/stable/$basearch
    enabled: true
    gpgcheck: true
    repo_gpgcheck: true
    gpgkey: https://downloads.1password.com/linux/keys/1password.asc
  become: true

- name: Install 1Password
  ansible.builtin.dnf:
    name: 1password
    state: present
  become: true

- name: Install 1Password CLI
  ansible.builtin.dnf:
    name: 1password-cli
    state: present
  become: true
