ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="057e", ATTR{idProduct}=="0337", \
    TAG+="systemd", ENV{SYSTEMD_WANTS}="gcadapter-hotplug.service"
