[Unit]
Description=EmulationStation Desktop Edition
After=graphical-session.target home-{{ .chezmoi.username }}-ES\x2dDE.mount
Requires=graphical-session.target
Wants=home-{{ .chezmoi.username }}-ES\x2dDE.mount

[Service]
Type=exec
ExecStart={{ .chezmoi.homeDir }}/Applications/ES-DE_x64.AppImage
Restart=no

[Install]
WantedBy=graphical-session.target
