[Unit]
Description=Launch Steam in silent mode after graphical session is ready
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=oneshot
ExecStart={{ .chezmoi.homeDir }}/.local/share/Steam/steam.sh -silent
RemainAfterExit=no

[Install]
WantedBy=graphical-session.target
